.anchor { 
	outline: none; 
	text-decoration: none; 			
	padding: 2px 1px 0; 
}
.anchor:link { 
	color: #fff; 
}

.anchor:visited { 
	color: #fff; 
}

.anchor:focused { 
	border-bottom: 1px solid; 
	background: #bae498; 
}

.main_dump { 
	background-color: #F7F7F7; 
	padding: 12px 30px;
	 border-radius: 20px; 
	margin: 20px 100px; 
}

.stack_info { 
	text-align: center; 
}

.address { 
	text-align: center; 
	color: #4B0082; 
}

.stack_file_name { 
	text-align: center; 
	color: #FFA500; 
}

.stack_line { 
	text-align: center; 
	color: #20B2AA; 
}

.stack_name { 
	text-align: center; 
	color: #7B68EE; 
}

.stack_function { 
	text-align: center; 
	color: #8B008B; 
}

.main_dump_number { 
	text-align: center; 
	color: #BDB76B; 
}

.poison { 
	text-align: center; 
	color: #006400; 
}

.poison_value { 
	text-align: center; 
	color: #FF0000; 
}

.hex_speak { 
	text-align: center; 
	color: #9400D3; 
}

.hash { 
	text-align: center; 
	color: #1E90FF; 
}

.value { 
	text-align: center; 
	color: #0000FF; 
}

.parameter { 
	text-align: center; 
	color: #8B4513; 
}

.tb_stk { 
	width: 90%; 
	border: 15px solid #F2F8F8; 			
	border-collapse: collapse; 
	margin: auto; 			
	table-layout: auto; 
	margin-bottom: 20px; 			
	border-top: 5px solid #F2F8F8; 
}

.tb_stk th { 
	font-weight: bold; 
	padding: 5px;
	background: #F2F8F8; 
	border: none;
	border-bottom: 5px solid #F2F8F8; 
}

.tb_stk td { 
	padding: 10px; 
	border: none; 			
	border-bottom: 5px solid #F2F8F8; 
}

.table_header > td { 
	text-align: center; 
}

.tb_stk tbody tr:nth-child(odd) { 
	background: #fff; 
}

.tb_stk tbody tr:nth-child(even) { 
	background: #F7F7F7; 
}

.table_header > td > h3{ 
	padding: 10px 20px; 
}

.stack_dump_number { 
	color: turquoise; 
	text-align: center; 
}

.stack_pointer { 
	color: red; 
	text-align: center; 
}

.stack_data_pointer { 
	color: brown; 
	text-align: center; 
}

.stack_data { 
	color: green; 
	text-align: left; 
}

.stack_capacity { 
	color: blue; 
	text-align: center; 
}

.stack_size { 
	color: violet; 
	text-align: center; 
}

.time { 
	color: #4A235A; 
	font-size: 30px; 			
	margin: center; 
}

.btn { 
	border: none; 
	border-radius: 15px; 
	text-decoration: none;     		
	color: white; 
	background: #0B63F6; 
	box-shadow: 0 5px 0 #003CC5; 			
	font-size: 16px; 
	padding-block: 8px; 
	padding-inline: 15px; 
}

.btn:hover { 
	background: #003CC5; 
	box-shadow: none; 
	position: relative;     		
	top: 5px; 
}

h1[name='top'] { 
	color: #4B0082; 
	font-style: italic; 			
	text-decoration: underline; 
}

